body {
  background: linear-gradient(180deg, #f9feff 0%, #e6f9ff 100%);
  background-attachment: fixed;
  color: #111;
  font-family: 'Poppins', sans-serif;
}

main {
  padding-top: 80px; /* deja espacio para el navbar */
}

html {
  scroll-behavior: smooth;
}
