/* Hero */
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px 100px;
  flex-wrap: wrap;
  background-color: #EEFCFF; /* celeste claro */
  border-top: 1px solid #93D7E6; /* turquesa fuerte para división */
  padding-bottom: 120px; 
}

.hero__text {
  flex: 1;
  max-width: 500px;
}

.hero__text h1 {
  font-size: 4rem;
  margin: 0;
  line-height: 1.2;
  color: #000;
  align-items: center;
}

.hero__text .highlight {
  color:#00B9E8;
}

.hero__text p {
  margin-top: 20px;
  color: #555;
  font-size: 1.5rem;
  line-height: 1.5;
  align-items: center;
}

.hero__image img {
  width: 250px;
  margin-top: 60px;
  align-items: center;
}
