.navbar {
  position: fixed;       /* fijo arriba */
  top: 0;
  left: 0;
  width: 100%;           
  z-index: 1000;         
  background-color: white;
  border-bottom: 1px solid #ddd;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  box-sizing: border-box;
}

/* contenedor interno para centrar y limitar ancho */
.navbar__container {
  width: 100%;
  max-width: 1200px; /* ajusta según tu diseño */
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__logo {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #00B9E8;
  font-size: 2rem;
  font-weight: bold;
}

.navbar__logo img {
  width: 42px;
  height: 42px;
}

.navbar__links a {
  margin-left: 20px;
  text-decoration: none;
  color: #333;
  font-weight: 500;
}
